{% extends "base.html" %}

{% block title %}Welcome to wsb_django/blog!{% endblock %}

{% block content %}

<div class="w-full bg-stone-800 h-12">
    <div class="w-full h-full bg-white rounded-t-3xl"></div>
</div>

<div class="rounded-lg bg-stone-100 p-4 w-[350px] mx-auto">
    <h1 class="font-bold text-center text-stone-900">Login</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form }}

        <button type="submit" class="mt-4 bg-stone-700 hover:bg-stone-800 rounded-full py-2 px-4 text-sm text-white text-semibold">
            Zaloguj
        </button>
    </form>
</div>


{% endblock %}