{% extends "base.html" %}

{% load i18n %}

{% block title %}
    wsb_django/blog: {{ post.title }}
{% endblock %}

{% block content %}
    <div class="w-full bg-stone-800">
        <div class="w-full h-full bg-stone-100 rounded-t-3xl flex pt-10">
            <div class="flex-1 flex justify-end pt-0.5">
                <a href="/"
                   class="w-8 h-8 bg-white rounded-full flex items-center justify-center cursor-pointer mr-3">
                    <i class="select-none">chevron_left</i>
                </a>
            </div>
            <div class="w-full max-w-xl">
                <div class="w-full bg-stone-100 rounded-xl px-6 pb-10">
                    <h2 class="text-3xl font-bold">{{ post.title }}</h2>
                    <p class="mt-2 text-sm leading-tight mb-10">{{ post.content }}</p>

                    <div class="flex items-center gap-x-2 select-none">
                        <i class="text-lg">account_circle</i>
                        <span>{{ post.author }}</span>
                    </div>

                    {% language 'pl' %}
                        <span class="text-stone-400 text-sm">Dodano {{ post.updated_at | date:"j E G:H"}}</span>
                    {% endlanguage %}
                </div>
            </div>
            <div class="flex-1 flex flex-col gap-y-3 pt-0.5">
                {% if request.user == post.author %}
                    <a href="/{{ post.id }}/update"
                       class="w-8 h-8 bg-white hover:bg-blue-200 rounded-full flex items-center justify-center cursor-pointer  ml-3">
                        <i class="text-base select-none">edit</i>
                    </a>

                    <a href="/{{ post.id }}/delete"
                       class="w-8 h-8 bg-white hover:bg-red-200 rounded-full flex items-center justify-center cursor-pointer ml-3">
                        <i class="text-base select-none">delete</i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="w-full bg-stone-100 h-12">
        <div class="w-full h-full bg-white rounded-t-3xl"></div>
    </div>

    {% if form is None %}
        <form method="POST" class="hover:scale-105 duration-200">
            {% csrf_token %}
            <input type="hidden" name="show_add" value="true">
            <button type="submit" class="bg-stone-800 rounded-3xl p-4 flex items-center gap-x-2 w-full max-w-xl mx-auto text-white">
                <i>add_circle</i>
                Skomentuj
            </button>
        </form>
    {% else %}
        <form method="POST"  class="bg-stone-300 rounded-3xl p-6 pt-1 gap-x-2 w-full max-w-xl mx-auto">
            {% csrf_token %}

            {{ form }}

            <button type="submit"
               class="bg-red-800/80 hover:bg-red-800 duration-150 rounded-full px-4 py-2 text-white flex items-center justify-center w-full mt-6 text-sm gap-x-2">
                Zapisz
                <i class="text-sm text-white">done</i>
            </button>
        </form>
    {% endif %}

    <div class="mt-4"></div>

    <div class="w-full max-w-xl mx-auto flex flex-col gap-y-4">

        {% for comment in comments %}
            <div class=" bg-stone-100 px-6 py-4 rounded-xl">
                <div class="flex items-center gap-x-1">
                    <i class="text-base">account_circle</i>
                    <span class="text-sm">{{ comment.author }}</span>
                </div>
                <p class="text-sm leading-tight mt-2 mb-6">{{ comment.content }}</p>

                {% language 'pl' %}
                    <span class="text-stone-400 text-sm">Odpowiedział {{ comment.created_at | date:"j E G:H"}}</span>
                {% endlanguage %}
            </div>
        {% endfor %}

    </div>
{% endblock %}
