{% extends "base.html" %}

{% load i18n %}

{% block title %}
    Witaj na wsb_django/blog!
{% endblock %}

{% block content %}
    <div class="w-full bg-stone-800 h-12">
        <div class="w-full h-full bg-white rounded-t-3xl"></div>
    </div>

    <a href="/blog/create" class="hover:scale-105 duration-200">
        {% csrf_token %}
        <input type="hidden" name="show_add" value="true">
        <button type="submit" class="bg-stone-800 rounded-3xl p-4 flex items-center gap-x-2 w-full max-w-xl mx-auto text-white">
            <i>add_circle</i>
            Dodaj nowy post
        </button>
    </a>

    <div class="w-full max-w-xl mx-auto flex flex-col gap-y-6 mt-12">
        {% for post in posts %}
            <div class="w-full bg-stone-100 rounded-xl p-6 pr-12">

                <div class="flex gap-x-2 items-center">
                    <div class="flex items-center gap-x-1">
                        <i class="text-sm">account_circle</i>
                        <span class="text-sm font-semibold">{{ post.author }}</span>
                    </div>

                    <span class="font-bold text-stone-500">·</span>

                    {% language 'pl' %}
                        <span class="text-stone-500 font-medium text-sm">{{ post.created_at | date:"j E Y, G:H"}}</span>
                    {% endlanguage %}
                </div>

                <a class="text-2xl font-bold mt-2 block" href="/blog/{{ post.id }}">{{ post.title }}</a>
                <p class="mt-2 text-sm leading-tight text-justify">{{ post.content }}</p>

                <div class="flex justify-between items-center mt-8 ">
                    <div class="flex gap-x-1">
                        <a href="/blog/{{ post.id }}"
                           class="bg-stone-700 rounded-full px-4 py-1 text-white flex items-center w-max text-sm gap-x-2">
                            <i class="text-sm text-white">comment</i>
                            Skomentuj
                        </a>
        <!--                <span href="/blog/{{ post.id }}"-->
        <!--                   class="bg-red-800/80 rounded-full px-4 py-1 text-white flex items-center w-max text-sm gap-x-2">-->
        <!--                    <i class="text-sm text-white">share</i>-->
        <!--                </span>-->
                    </div>


                </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}
